# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
# Your code goes here

import pandas as pd

url_1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df_1 = pd.read_csv(url_1)

url_2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
df_2 = pd.read_csv(url_2)

url_3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df_3 = pd.read_csv(url_3)

In [2]:
df_1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [3]:
df_2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [4]:
df_3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [5]:
df_3.rename(columns={"Gender" : "GENDER", "State" : "ST"}, inplace=True)

In [6]:
df_finall = pd.concat([df_1, df_2, df_3], axis=0)

In [7]:
df_finall

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [8]:
df_finall.reset_index(drop=True, inplace=True)

In [9]:
df_finall

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [10]:
df_finall.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [11]:
df_finall.isnull().sum()

Customer                     2937
ST                           2937
GENDER                       3059
Education                    2937
Customer Lifetime Value      2944
Income                       2937
Monthly Premium Auto         2937
Number of Open Complaints    2937
Policy Type                  2937
Vehicle Class                2937
Total Claim Amount           2937
dtype: int64

In [12]:
df_finall.shape

(12074, 11)

In [13]:
df_finall.rename(columns={"Customer" : "customer", "ST" : "state", "GENDER" : "gender", "Education" : "education",
"Customer Lifetime Value" : "customer_lifetime_value", "Income" : "income", "Monthly Premium Auto" : "monthly_premium_auto",
"Number of Open Complaints" : "number_of_open_complaints", "Policy Type" : "policy_type", "Vehicle Class" : "vehicle_class",
"Total Claim Amount" : "total_claim_amount"}, inplace=True)
df_finall.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [14]:
df_finall.gender.unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [15]:
mapping = {"F" : "F", "M" : "M", "Femal" : "F", "Male" : "M", "female" : "F"}
df_finall.gender = df_finall.gender.map(mapping)
df_finall.gender.unique()

array([nan, 'F', 'M'], dtype=object)

In [16]:
df_finall.state.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [17]:
mapping = {"Washington" : "Washington", "Arizona" : "Arizona", "Nevada" : "Nevada", "California" : "California",
"Oregon" : "Oregon", "Cali" : "California", "AZ" : "Arizona", "WA" : "Washington",}
df_finall.state = df_finall.state.map(mapping)
df_finall.state.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

In [18]:
df_finall.education.unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [19]:
mapping = {"Master" : "Master", "Bachelor" : "Bachelor", "High School or Below" : "High School or Below",
"College" : "College", "Bachelors" : "Bachelor", "Doctor" : "Doctor"}
df_finall.education = df_finall.education.map(mapping)
df_finall.education.unique()

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor',
       nan], dtype=object)

In [20]:
df_finall.customer_lifetime_value.unique()

array([nan, '697953.59%', '1288743.17%', ..., 8163.890428, 7524.442436,
       2611.836866], dtype=object)

In [21]:
df_finall['customer_lifetime_value'] = df_finall["customer_lifetime_value"].str.replace("%","")
df_finall.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [22]:
df_finall['vehicle_class'] = df_finall["vehicle_class"].str.replace("Sports Car","Luxury")
df_finall['vehicle_class'] = df_finall["vehicle_class"].str.replace("Luxury SUV","Luxury")
df_finall['vehicle_class'] = df_finall["vehicle_class"].str.replace("Luxury Car","Luxury")
df_finall.vehicle_class.unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury', nan],
      dtype=object)

In [23]:
df_finall.customer_lifetime_value = df_finall[["customer_lifetime_value"]].applymap(float)
df_finall.dtypes

/var/folders/p_/v0r6zns15kvc6kdp98q2n1b00000gn/T/ipykernel_10380/2271562772.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_finall.customer_lifetime_value = df_finall[["customer_lifetime_value"]].applymap(float)

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [24]:
df_finall.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [25]:
df_finall.number_of_open_complaints.unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan, 0,
       2, 3, 1, 5, 4], dtype=object)

In [26]:
def extract_middle_number(value):
    if isinstance(value, str):
        parts = value.split('/')
        if len(parts) == 3:
            return parts[1]
    return value

In [27]:
df_finall["number_of_open_complaints"] = df_finall["number_of_open_complaints"].apply(extract_middle_number)

In [28]:
df_finall["number_of_open_complaints"] = df_finall["number_of_open_complaints"].apply(float)
df_finall.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [29]:
df_finall.isnull().sum()

customer                      2937
state                         2937
gender                        3059
education                     2937
customer_lifetime_value      10014
income                        2937
monthly_premium_auto          2937
number_of_open_complaints     2937
policy_type                   2937
vehicle_class                 2937
total_claim_amount            2937
dtype: int64

In [30]:
df_finall.dropna(how="all", inplace=True)
df_finall.isnull().sum()

customer                        0
state                           0
gender                        122
education                       0
customer_lifetime_value      7077
income                          0
monthly_premium_auto            0
number_of_open_complaints       0
policy_type                     0
vehicle_class                   0
total_claim_amount              0
dtype: int64

In [31]:
df_finall["gender"] = df_finall.gender.fillna("unknown")
df_finall["customer_lifetime_value"] = df_finall.customer_lifetime_value.fillna(df_finall.customer_lifetime_value.median())

In [32]:
df_finall.isnull().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [33]:
df = df_finall.applymap(lambda x: int(x) if isinstance(x, (int, float)) else x)

/var/folders/p_/v0r6zns15kvc6kdp98q2n1b00000gn/T/ipykernel_10380/1929918737.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df_finall.applymap(lambda x: int(x) if isinstance(x, (int, float)) else x)

In [34]:
df.dtypes

customer                     object
state                        object
gender                       object
education                    object
customer_lifetime_value       int64
income                        int64
monthly_premium_auto          int64
number_of_open_complaints     int64
policy_type                  object
vehicle_class                object
total_claim_amount            int64
dtype: object

In [35]:
print("customer -", df.customer.duplicated().sum())
print("state -", df.state.duplicated().sum())
print("gender -", df.gender.duplicated().sum())
print("education -", df.education.duplicated().sum())
print("customer_lifetime_value -", df.customer_lifetime_value.duplicated().sum())
print("income -", df.income.duplicated().sum())
print("monthly_premium_auto -", df.monthly_premium_auto.duplicated().sum())
print("number_of_open_complaints -", df.number_of_open_complaints.duplicated().sum())
print("policy_type -", df.policy_type.duplicated().sum())
print("vehicle_class -", df.vehicle_class.duplicated().sum())
print("total_claim_amount -", df.total_claim_amount.duplicated().sum())

customer - 81
state - 9132
gender - 9134
education - 9132
customer_lifetime_value - 7215
income - 3482
monthly_premium_auto - 8928
number_of_open_complaints - 9131
policy_type - 9134
vehicle_class - 9133
total_claim_amount - 7970

In [36]:
df_finall.duplicated().sum()

7

In [37]:
df_finall.drop_duplicates(inplace=True)

In [38]:
df_finall.duplicated().sum()

0

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [39]:
# Your code goes here
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)
df

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [47]:
df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [45]:
df.isnull().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [46]:
df.duplicated().sum()

0

In [48]:
pivot_df = df.pivot_table(index='sales_channel', values=['total_claim_amount'], aggfunc='sum')
pivot_df

               total_claim_amount
sales_channel
Agent                1.810227e+06
Branch               1.301204e+06
Call Center          9.266008e+05
Web                  7.066000e+05

In [49]:
round_pivot_table = pivot_df.round(2)
round_pivot_table

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [51]:
pivot_average_customer = df.pivot_table(index='gender',columns='education', values='customer_lifetime_value', aggfunc='mean')
pivot_average_customer

education,Bachelor,College,Doctor,High School or Below,Master
gender,,,,,
F,7874.269478,7748.823325,7328.508916,8675.220201,8157.053154
M,7703.601675,8052.459288,7415.333638,8149.687783,8168.832659